.social-bar {
  
  background-color: #cbdde1;
  height: 35px;
  width: 100%;
  z-index: 99;
  
  }
  
  .social-icons {
  margin-top:-3px;
  color: white;
  float: right;
  }
  
  .social-icons li {
  display: inline-block;
  margin-right: 15px;
  margin-top: 10px;
  
  font-size: 18px;
  transition: all 1s;
  }
  
  .social-icons li:last-child {
  margin-right: 100px;
  }
  
  .social-icons li:hover {
  color: #888;
  cursor: pointer;
  }
  * {
  margin: 0;
  padding: 0px;
  }
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* { box-sizing: border-box; }

html { font-size: 62.5%; }

body { 
  background-color: white;
  margin: 0;
  font-size: 1.8rem;
  font-family: 'PT Sans', sans-serif;
}

.main-header {
  
  left: 0;
  top: 0;
  width: 100%;
  height: 6rem;
  color: white;
  background: #96b7be;
  line-height: 6rem;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  transition: .25s transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.heads-up {
  -webkit-transform: translateY(-6rem);
          transform: translateY(-6rem);
  -webkit-transform: translate3d(0,-6rem,0);
          transform: translate3d(0,-6rem,0);
}

.main-header h1 {
  float: left;
  font-size: 2.5rem;
  margin: 0 0 0 2rem;
  text-transform: uppercase;
}

.main-header nav {
  float: right;
  font-size: 1.4rem;
}

.main-header nav ul { 
  margin: 0; 
  padding: 0; 
}

.main-header nav li {
  display: inline-block;
  padding: 0 2rem;
  border-left: .1rem solid black;
}

main { 
  padding: 10rem 6rem;
  background: #cbdde1; 
  width:100%;
}
main img{
  padding:0;
  width:40%;
  box-sizing: border-box;
}
.paragraph{
float:right;
width:50%;
padding-top:80px;
font-size:20px;
color:white;
}
.paragraph h2{
  color:white;
  border-bottom: solid 1px;
  border-color: #a4c4ca;
  font-size:45px;
}
.middle{
  float:right;
  color:black;
  width:25%;
  box-sizing:border-box;
  padding:55px;
}
.middle h3{
  border-bottom: solid 2px;
  border-color:#669999;
}
.image-container img{
  width:24.5%;
  display:inline-block;
  border:solid 1px;

}
#lower-title h2{
  float:left;
  border-bottom:solid 1px;
  width:50%;
  
}
.lower-title p{
  float:left;
  padding:none;
  width:197px;
  
}
.lower-title a{
  
  color:#669999;
}
.sidebar{
  float:right;
  width:40%;
  box-sizing: border-box;
}
.sidebar h2{
  
  border-bottom:solid 1px;
  padding-bottom: 20px;
  
}
.sidebar img{
  float:left;
  box-sizing: border-box;
}
.footer {
    background-color: #cfe1e1;
}
.footer h2 {
    display: inline;
    padding-left: 145px;
    margin-left: 5px;
}






/*Test
.image-container{
  position:absolute;
  left: 50%;
  right:0px;
  width: 500px;
  margin-left: -250px;
}

.scroll-horizontal{
  overflow-x: scroll;
  overflow-y: hidden;
  display:block;
  width:100%;
}

.image-group {
  white-space:nowrap;
  width:auto;
}


.image-placeholer{
  display: inline-block;
  background: lightgreen;
  width: 80px;
  height: 80px;
}
*/
