//Kodi per Social Bar
.social-bar {

  background-color: #cbdde1;
  height: 35px;
  width: 100%;
  z-index: 99;

  }

  .social-icons {
  margin-top:-3px;
  color: white;
  float: right;
  }

  .social-icons li {
  display: inline-block;
  margin-right: 15px;
  margin-top: 10px;

  font-size: 18px;
  transition: all 1s;
  }

  .social-icons li:last-child {
  margin-right: 100px;
  }

  .social-icons li:hover {
  color: #888;
  cursor: pointer;
  }
  * {
  margin: 0;
  padding: 0px;
  }
//Kodi per hederin
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* { box-sizing: border-box; }

html { font-size: 62.5%; }

body {
  background-color:white;
  margin: 0;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
}

.main-header {

  left: 0;
  top: 0;
  width: 100%;
  height: 6rem;
  color: white;
  background: #96b7be;
  line-height: 6rem;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  transition: .25s transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.heads-up {
  -webkit-transform: translateY(-6rem);
          transform: translateY(-6rem);
  -webkit-transform: translate3d(0,-6rem,0);
          transform: translate3d(0,-6rem,0);
}

.main-header h1 {
  float: left;
  font-size: 2.5rem;
  margin: 0 0 0 2rem;
  text-transform: uppercase;
}

.main-header nav {
  float: right;
  font-size: 1.4rem;
}

.main-header nav ul {
  margin: 0;
  padding: 0;
}
.main-header a{
color:white;
text-decoration:none;
}
.main-header a:hover {
  color: #888;
  cursor: pointer;
  transition: all 1s;
  }
.main-header nav li {
  display: inline-block;
  padding: 0 2rem;
  border-left: .1rem solid black;
}
//Kodi per sekcionin main
main {
  padding: 10rem 6rem;
  background: #cbdde1;
  width:100%;
}
main img{
  padding:0;
  width:40%;
  box-sizing: border-box;
}
.paragraph{
float:right;
width:50%;
padding-top:80px;
font-size:18px;
color:white;
}
.paragraph h2{
  color:white;
  border-bottom: solid 1px;
  border-color: #a4c4ca;
  font-size:42px;
}
.paragraph h3{
  color: #305f66;
  font-size: 20px;
  padding-top: 20px;
  padding-left:  20px;
  padding-right:  20px;
  padding-bottom:  35px;
  border: solid 1px #aecad0;
  font-family: Georgia;
}
#raquo {
    display: run-in;
  }
.paragraph h3 a:link {
    text-decoration: none;
    padding: 62px;
    font-size: 50px;
    color: #26575e;
}
//Kodi per sekcionin e mesem
.middle-section{

  display:inline;
  box-sizing: border-box;
}
.middle1{
  width: 50%;
  float:right;
  color:gray;
  width:25%;
  box-sizing:border-box;
  padding:50px;

}
.middle1 h3{
  padding-left:50px;
  padding-top: 5px;
  border-color: #96b7be;
  width:90%;

}
#hr {
  margin-left: 50px;
}
.middle1 p{
  padding-left:50px;
  padding-top:15px;
  width:90%;
}
.middle1 img{
  margin-left:50px;
  border: solid 1px #96b7be;
  border-color: #96b7be;
}

.image-container img{
  margin-left: 52px;
  display:inline-block;
  width: 20%;
  border:solid 2px;
  border-color: #96b7be;
}
#gg {
	padding-left: 20px;
}
#lower-title h2{
  float:left;
  border-bottom:solid 1px;
  width:50%;

}

.content img {
    padding: 0.25em;
    border: solid 2px #82afb5;
}
.lower-title p{
  float:left;
  padding:none;
  width:197px;

}
.lower-title a{

  color:#669999;
}

#sidebar h2{
  border-bottom:solid 1px #96b7be;
  padding-bottom: 20px;
}
/*Kodi per sidebar*/
#main h2 {
  border-bottom: solid 1px #96b7be;
  padding-bottom: 20px;
}
#main{
  float:left;
  width:50%;
  padding:0 30px;
  box-sizing: border-box;
}
#sidebar{
  float:right;
  width:40%;
  padding:10px;
  box-sizing: border-box;
}
/*Kodi per sidebar*/
.content-ff p {
  display: inline;
  padding-left: 20px;
}

.content-ff img p {
  padding-bottom: 40px;
}

.footerf {
  margin:0px 0px 0px 0px;
  height: 210px;
  background: #cfe1e1;
}

.fmiddle{
    margin:0px 0rem 0rem 9px;
    float:left;
    width:32%;
    box-sizing:border-box;
    padding:13px;

}
.fmiddle h3{
  border-bottom: solid 2px;
  border-color:#464637;
  margin: 0px 0px 28px 0px;
  font-family: Times New Roman;
  font-size: 30px;
  color: #464637;
}

.footerf p{

    line-height:24px;
    color: #464637;


}
.footerf a{
        line-height:34px;


}
.footerf form{
            line-height:34px;
}
a:link{
    color:#b30000;
    text-decoration: none;
}
a:visited{
        color:#b30000;

}

.forma{
    color: #464637;

}
#kada{
    color: #464637;

}
.Copyright {
  height: 40px;
  background-color: #054451;
}
.Copyright p {
  padding-left: 20px;
  padding-top: 10px;
  color: white;
}
#cr {
  text-align: right;
  margin-top: -25px;
  margin-right: 20px;
}
