/*Kodi per Social Bar*/
.social-bar {

  background-color: #cbdde1;
  height: 35px;
  width: 100%;
  z-index: 99;

  }

  .social-icons {
  margin-top:-3px;
  color: white;
  float: right;
  }

  .social-icons li {
  display: inline-block;
  margin-right: 15px;
  margin-top: 10px;

  font-size: 18px;
  transition: all 1s;
  }

  .social-icons li:last-child {
  margin-right: 100px;
  }

  .social-icons li:hover {
  color: #888;
  cursor: pointer;
  }
  * {
  margin: 0;
  padding: 0px;
  }
/*Kodi per hederin*/

html { font-size: 62.5%; }

body {
  background-color:#dfecec;
  margin: 0;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
}

.main-header {

  left: 0;
  top: 0;
  width: 100%;
  height: 6rem;
  color: white;
  background: #96b7be;
  line-height: 6rem;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  transition: .25s transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
/*logo e faqes */

#logo {
  margin-top: -50px;
  margin-left: 80px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
#logo:hover{
    transform: rotate(360deg);
}

/*logo e faqes */
.heads-up {
  -webkit-transform: translateY(-6rem);
          transform: translateY(-6rem);
  -webkit-transform: translate3d(0,-6rem,0);
          transform: translate3d(0,-6rem,0);
}

.main-header h1 {
  float: left;
  font-size: 2.5rem;
  margin: 0 0 0 2rem;
  text-transform: uppercase;
}

.main-header nav {
  float: right;
  font-size: 1.4rem;
}

.main-header nav ul {
  margin: 0;
  padding: 0;
}
.main-header a{
color:white;
text-decoration:none;
}
.main-header a:hover {
  color: #888;
  cursor: pointer;
  transition: all 1s;
  }
.main-header nav li {
  display: inline-block;
  padding: 0 2rem;
  border-left: .1rem solid black;
}




.footerf {
  margin:0px 0px 0px 0px;
  height: 210px;
  background: #cfe1e1;
}

.fmiddle{
    margin:0px 0rem 0rem 9px;
    float:left;
    width:32%;
    box-sizing:border-box;
    padding:13px;

}
.fmiddle h3{
  border-bottom: solid 2px;
  border-color:#464637;
  margin: 0px 0px 28px 0px;
  font-family: Times New Roman;
  font-size: 30px;
  color: #464637;
}

.footerf p{

    line-height:24px;
    color: #464637;


}
.footerf a{
        line-height:34px;


}
.footerf form{
     line-height:34px;
    
}
a:link{
    color:#b30000;
    text-decoration: none;
}
a:visited{
        color:#b30000;

}

.forma{
    color: #464637;

}
#kada{
    color: #464637;

}
.Copyright {
  height: 40px;
  background-color: #054451;
}
.Copyright p {
  padding-left: 20px;
  padding-top: 10px;
  color: white;
}
#cr {
  text-align: right;
  margin-top: -25px;
  margin-right: 20px;
}
.bllok{
    background: white;
    margin: 0px 225px 60px 225px;
    padding: 0px 0px 30px 0px;
     border-radius: 5px;
  
}

.bllok1 h1{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background:#9fc6c6;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  margin: 100px 225px 0px 225px;
  padding: 9px 9px 9px 9px;
   border-radius: 2px;
}
div img {
  width: 100%;
  height: auto;
   border-radius: 5px;
}
.ul-class li{
    margin: 9px 15px 9px 60px;
    font-size: 20px;
    

}  
.bllok1 p{
    font-size: 20px;
   
    margin: 0px 15px 9px 15px;
    
}

.bllok1 strong
{
  font-size: 300%;
  color:gray;
  line-stacking-strategy:max-height;
}
.input-cl{
     padding: 3px 6px;
}
/*Nalt  Djatht  Posht  Majt*/
