
body{
font-family:Garamond,serif;
font-size: 20px;
font-size: 15px;
}
.container{

margin:center;
}
.box-1
{
background-color:#5F9EA0;
color:#F8F8FF;
padding:10px;
position:relative;
}

.box-1 h1
{
font-family: "Times New Roman", Times, serif;
text-transform: uppercase;

}
.box-1 h4{
margin-top: 5px;
}
.box-1 h3{
	position:absolute;
	top:20px;
	left:300px;
	border-left:solid 1px;
	
}
.box-2{
	padding:10px;
}
.box-2 h1{
	float:right;
	padding-right: 350px;
	padding-top: 160px;
	font-size: 36px;
	color:#F8F8FF;
	border-bottom: solid 2px;
	box-sizing: border-box;
}
.box-2 p{
	
	width: 25%;
	padding-left :500px;
	float: top;
	padding-bottom:20px;
}
.block{
float:right;
padding:10px;
color:black;
width:20%;
box-sizing: border-box;

}
.block p{
	border-bottom: solid 3px;
	border-color: #5F9EA0;
}
.images img{
	float:right;
	width:20%;
	box-sizing: border-box;
	padding:10px;

}
